@model ProjetoMD.MVC.Models.CategoriaViewModel

@{
    ViewBag.Title = "Remover categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remover</h2>

<h3>Tem certeza que deseja remover a categoria @Model.Descricao?</h3>
<div>
    <h4>CategoriaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-default" /> |
            @Html.ActionLink("Lista de categoria", "Index")
        </div>
    }
</div>
